.status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    margin: 15px;
}

.status.active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    margin: 15px;
}

